In [1]:
import pandas as pd
import gzip

### Stanford Mass Shootings of America Dataset

In [2]:
msa_df = pd.read_csv('data/mass_shooting_events_stanford_msa_release_06142016.csv')

msa_df.head()

,CaseID,Title,Location,City,State,Latitude,Longitude,Number of Victim Fatalities,Total Number of Fatalities,Number of Victims Injured,...,History of Mental Illness - General,Data Source 1,Data Source 2,Data Source 3,Data Source 4,Data Source 5,Data Source 6,Data Source 7,Military Experience,Class
0,1.0,University of Texas at Austin,"Austin, Texas",Austin,Texas,30.198887,-97.844159,16.0,17.0,32.0,...,Yes,http://en.wikipedia.org/wiki/Charles_Whitman,"Lexington Examiner (KY) - September 23, 2012",http://news.google.com/newspapers?id=lkk0AAAAI...,http://news.google.com/newspapers?id=PPUjAAAAI...,http://books.google.com/books?id=ClYEAAAAMBAJ&...,NaN,NaN,Yes,SPK
1,2.0,Rose-Mar College of Beauty,"Mesa, Arizona",Mesa,Arizona,33.422687,-111.816320,5.0,5.0,1.0,...,Yes,"""Slaughter In The College Of Beauty."" Time 88....",Section: Lexington True Crime Examiner,http://www.nydailynews.com/news/crime/beauty-s...,http://books.google.com/books?id=Cre7qsswRiwC&...,NaN,NaN,NaN,Unknown,MS
2,3.0,New Orleans Police Shootings,"New Orleans, Louisiana",New Orleans,Louisiana,30.068724,-89.931474,9.0,10.0,13.0,...,Yes,http://news.google.com/newspapers?nid=1144&dat...,http://theadvocate.com/home/4828836-125/rampag...,http://www.trutv.com/library/crime/notorious_m...,http://books.google.com/books?id=TfEDmROcZwEC&...,NaN,NaN,NaN,Unknown,SPK
3,4.0,Clara Barton Elementary School,"Chicago, Illinois",Chicago,Illinois,41.839280,-87.688181,1.0,1.0,3.0,...,Yes,http://news.google.com/newspapers?nid=1338&dat...,http://news.google.com/newspapers?nid=1144&dat...,http://www.leagle.com/xmlResult.aspx?page=1&xm...,NaN,NaN,NaN,NaN,Unknown,MS
4,5.0,Olean High School,"Olean, New York",Olean,New York,42.081854,-78.432139,3.0,3.0,7.0,...,No,http://buffalo.ynn.com/content/top_stories/622...,School Shootings: a History Part One of a seri...,http://www.newswithviews.com/Erica/Carle10.htm,http://books.google.com/books?id=ZuKoSskEWyIC&...,"""Olean High School Shooting"". Larrie Benton Za...",NaN,NaN,Unknown,MS

### Gun Violence Archive: Mass Shootings (2014 - 2018)

In [3]:
gvms_df = pd.read_csv(gzip.open('data/gun_violence_massshooting_2014-2018.csv.gz'))

gvms_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,sum n_killed&n_injured,incident_url,source_url,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,1/1/2013,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,1/1/2013,California,Hawthorne,13500 block of Cerise Avenue,1,3,4,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,1/1/2013,Ohio,Lorain,1776 East 28th Street,1,3,4,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,1/5/2013,Colorado,Aurora,16000 block of East Ithaca Place,4,0,4,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,1/7/2013,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,4,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

### State Policy Database: Firearms

* Source: http://www.statepolicyindex.com/data/
* Please note that the first row is dropped, and the second row is used as the header in Pandas. Open the Excel file in Microsoft Excel to see why!

In [4]:
gun_laws_df = pd.read_excel('data/b_guns_17.xlsx', header=1)

gun_laws_df.head()

,state,year,bccpir,bccpin,bsi,btrain,Bipcraw,ccpi,bipc,bipt,...,Bballist,bdtr,Bretent,Bpurge,Bconst,bmg,bss,bsbr,bsbs,baow
0,Alabama,1986,1,0.0,0.0,0,1.0,109.6,1.839416,1,...,0,0.0,1.00,NaN,1,1.0,1.0,0.0,0.0,1.0
1,Alaska,1986,0,0.0,0.0,1,NaN,109.6,828.000000,0,...,0,0.0,0.25,NaN,0,1.0,1.0,1.0,1.0,1.0
2,Arizona,1986,0,0.0,0.0,1,NaN,109.6,828.000000,0,...,0,0.0,0.00,NaN,1,1.0,1.0,1.0,1.0,1.0
3,Arkansas,1986,0,0.0,0.0,1,NaN,109.6,828.000000,0,...,0,0.0,0.00,NaN,1,0.5,1.0,1.0,1.0,1.0
4,California,1986,1,0.0,0.0,0,108.0,109.6,198.656934,1,...,0,0.5,1.00,NaN,0,0.0,0.0,0.0,0.0,0.0